[mysqld]
max_connections = 1000
key_buffer = 32M
key_buffer_size= 256M 
myisam_sort_buffer_size = 32M
join_buffer_size = 1M
read_buffer_size = 1M
sort_buffer_size = 2M
table_cache = 4000
thread_cache_size = 286
interactive_timeout = 60
wait_timeout = 120
connect_timeout = 10
max_allowed_packet = 64M
myisam_sort_buffer_size = 64M
myisam_max_sort_file_size = 32M
max_connect_errors = 100000
query_cache_limit = 2M
query_cache_size = 64M
query_cache_type = 1
thread_concurrency=4
tmp_table_size = 16M
local-infile=1
innodb_buffer_pool_size = 8G
#bind-address = 127.0.0.1
#skip-networking

[mysqld_safe]
open_files_limit = 8192

[mysqldump]
quick
max_allowed_packet = 16M

[myisamchk]
key_buffer = 256M
sort_buffer = 64M
read_buffer = 16M
write_buffer = 16M

[mysqlhotcopy]
interactive-timeout

